.list_city{
    position: absolute;
    background-color: white;
    width: 200px;
    right: 0px;
    max-height: 200px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    display: none;
}


.list_city li {
    list-style: none;
    height: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
}