.updateuser{

}
.updateuser .box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* place-content: center; */
}


.updateuser .box .item{
    width: 230px;
    margin: 20px 35px;
}

.updateuser .box .item input{
    width: 100%;
    margin: 10px 0px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #9F9F9F;
}

.updateuser .action{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
}

.updateuser .action button{
    margin: 20px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #288BFF;
    border: none;
    cursor: pointer;
}

.updateuser .action button:hover{
    background-color: #6fb2fd;
}








.listuser .table{
    display: flex;
    height: fit-content;
}
.listuser .table.head *{
    font-weight: bold;
    background-color: rgba(185, 185, 185,0.5);
}

.listuser .table *{
    border: 1px solid rgb(131, 131, 131);
    place-content: center;
    display: grid;

    overflow: hidden;
}

.listuser .table.row *{
    flex-wrap: wrap;
    overflow: none;
}

.listuser .table .stt{
    flex: 1;
}

.listuser .table .data{
    flex: 3;
}


.listuser h4{
    font-size: 18px;
    margin: 0px 0px 20px 0px;
}


.listuser .render{
    display: flex;
    margin-bottom: 20px;

}
.listuser .render h4{
    flex: 1;
}

.listuser .render button{
    background-color: #92C1F9;  
    color: #0500FF; 
    border-radius: 10px;
    width: 130px;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
}

.listuser .render button:hover{
    background-color: #288BFF;
    color: white;
}