#data-edit {
    display: flex;
}


#data-edit div{
    width: 40px;
    height: 40px;
    border: none;
    margin: 5px 10px;
}

#data-edit div img{
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

#data-edit div img:hover{
    box-shadow: 0px 0px 5px red;
    background-color: black;
}

.type_drop{
    position: absolute;
    top:25px;
    right: 0;
    z-index: 1;
    width: 200px;
    display: none;
}

.type_drop div{
    padding: 10px;
    place-content: center;
    display: grid;

}

.type_drop div.pick{
    border: 1px solid black;
    cursor: pointer;
    background: white;
}

.type_drop div.pick:hover{
    background: rgb(110, 110, 110);
    box-shadow: 0px 0px 5px red;
}

.type {
    position: relative;
}

.type .icondrop{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
}

.type .icondrop img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.type .icondrop:hover .type_drop{
 display: block;
}



.content textarea{
   margin-left: 40px;
}


.dele_file{
    width: 50px;
    height: 30px;
    background-color: #7DA6D5;
    border-radius: 10px;
    border: none;
    margin: 10px;

}

.dele_file:hover{
    background-color: #1969c5;
}