
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fe/css/grid.css">
    <link rel="stylesheet" href="../fe/css/header-footer.css">
    <link rel="stylesheet" href="../fe/css/registry.css">
    <link rel="stylesheet" href="../fe/css/quanhuyen.css">
    <script src="../fe/js/jquery.js"></script>  

</head>
<body>
    <div class="header grid">
        <div class="container gridhead wide">
            <div class="item">
                <div class="logo">
                    <a href="./home.html"><img src="../fe/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <a href="">TRANG CHỦ</a>
            </div>
            <div class="item">
                <a href="">GIỚI THIỆU</a>
            </div>
            <div class="item">
                <a href="">THỦ TỤC</a>
            </div>
            <div class="item">
                <a href="">QUY ĐỊNH</a>
            </div>
            <div class="item">
                <a href="">HỖ TRỢ</a>
            </div>
            <div class="item">
                <a href="">THÔNG TIN</a>
            </div>
            <div class="item">
                <a href="">TIN TỨC</a>
            </div>
            <div class="item">
                <a href="">LIÊN HỆ</a>
            </div>
            <div class="item seach">
               <input type="text">
            </div>
            <div class="item user">
                <a href="./dangnhap.html">ĐĂNG NHẬP</a>
            </div>
        </div>
    </div>








    <div class="main grid">
        <div class="router grid wide">
            <a href="">ĐĂNG KÝ TÀI KHOẢN</a>
        </div>
        <div class="container registry">
            <h3>THÔNG TIN CƠ SỞ LƯU TRÚ</h3>
            <div class="box boxwide">
                <div class="col">
                    <div class="item">
                        <p>Tên cơ sở lưu trú (*):</p>
                        <input type="text" id="cs_name">
                    </div>
                    <div class="item">
                        <p>Email(*):</p>
                        <input type="text" id="cs_email">
                    </div>
                    <div class="item">
                        <p>Người đại diện (*):</p>
                        <input type="text" id="cs_user">
                    </div>
                    <div class="item">
                        <p>Quận / Huyện (*):</p>
                        <div class="dropbox">
                            <select name="quanhuyen" id="quanhuyen">
                                <option value="0"></option>
                            </select>
                          
                        </div>
                    </div>
                    <div class="item">
                        <p>Địa chỉ cụ thể (*):</p>
                        <input type="text" id="cs_adress">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <p>Loại cơ sở lưu trú (*):</p>
                        <div class="dropbox">
                            <input type="text" id="cs_type">
                        </div>
                    </div>
                    <div class="item">
                        <p>Số điện thoại (*):</p>
                        <input type="text" id="cs_phone">
                    </div>
                    <div class="item">
                        <p>CCCD:</p>
                        <input type="text" id="cs_cccd">
                    </div>
                    <div class="item">
                        <p>Phường / Xã (*):</p>
                        <div class="dropbox">
                            <select name="phuongxa" id="phuongxa">

                            </select>
                           
                       
                        </div>
                    </div>

                </div>
            </div>
            <h3>THÔNG TIN TÀI KHOẢN</h3>
            <div class="boxwide">
                <div class="box">
                    <div class="col">
                
                        <div class="item">
                            <p>Email (*):</p>
                            <input type="text" id="us_email">
                        </div>
                       
                        <div class="item">
                            <p>Mật khẩu (*):</p>
                            <input type="text" id="us_pass">
                        </div>
                        <div class="item">
                            <p>Nhập lại mật khẩu (*):</p>
                            <input type="text" id="us_repass">
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <p>Họ và tên (*):</p>
                            <input type="text" id="us_name">
                        </div>
                        <div class="item">
                            <p>Ngày sinh (*):</p>
                            <input type="date" id="us_date">
                        </div>
                        <div class="item">
                            <p>Số điện thoại (*):</p>
                            <input type="text" id="us_phone">
                        </div>
                        <div class="item">
                            <p>CCCD (*):</p>
                            <input type="text" id="us_cccd">
                        </div>
                    </div>
                </div>
                <div class="checked">
                   <div>
                        <input type="checkbox" id="check_regis">
                   </div>
                   <div>
                        <label >Đồng ý với các điều khoản của chúng tôi</label>
                   </div>
                </div>
                <div class="regis">
                    <label>Bạn đã có tài khoản?  <a href="./dangnhap.html">Hãy đăng nhập</a></label>
                    <button id="submit_regis">Đăng Ký</button>
                </div>

            </div>
        </div>
    </div>









    <div class="footer grid">
        <div class="container gridfoot" >
            <div class="logo">
                <img src="./image/logo.png" alt="">
            </div>
            <div class="info">
                <h3>BẢN QUYỀN CỦA ỦY BAN NHÂN DÂN THÀNH PHỐ ĐÀ NẴNG</h3>
                <p><b>Giấy phép:</b> 612/GP-STTTT cấp ngày 21 tháng 10 năm 2016.</p>
                <p><b>Trưởng Ban biên tập:</b> Trần Chí Cường, Phó Chủ tịch UBND thành phố.</p>
                <p><b>Trụ sở:</b> 24 Trần Phú, P.Thạch Thang, Q. Hải Châu, TP. Đà Nẵng.</p>
                <p><b>Điện thoại:</b> (+84.236) 3.817.366 </p>
                <p><b>Email:</b> toasoan@danang.gov.vn</p>

            </div>
        </div>
    </div>
    <script src="../fe/js/adress.js"></script>
    <script>
        const cs_name = document.getElementById("cs_name")
        const cs_email = document.getElementById("cs_email")
        const cs_user = document.getElementById("cs_user")
        const cs_adress = document.getElementById("cs_adress")
        const cs_type = document.getElementById("cs_type")
        const cs_phone = document.getElementById("cs_phone")
        const cs_cccd = document.getElementById("cs_cccd")

        const us_email = document.getElementById("us_email")
        const us_pass = document.getElementById("us_pass")
        const us_repass = document.getElementById("us_repass")
        const us_name = document.getElementById("us_name")
        const us_date = document.getElementById("us_date")
        const us_phone = document.getElementById("us_phone")
        const us_cccd = document.getElementById("us_cccd")
        const check_regis = document.getElementById("check_regis")
        const submit_regis = document.getElementById("submit_regis")

       
    
        submit_regis.onclick = function(){
            if(!cs_name.value) alert("vui lòng nhập tên cơ sở")
            else if(!cs_adress.value) alert("vui lòng nhập địa chỉ cụ thể")
            else if(!cs_cccd.value) alert("vui lòng nhập CCCD")
            else if(!cs_email.value) alert("vui lòng nhập Gmail")
            else if(!cs_phone.value) alert("vui lòng nhập Số điện thoại cơ sở")
            else if(!cs_type.value) alert("vui lòng nhập loại hình cơ sở")
            else if(!cs_user.value)  alert("vui lòng nhập đại diện cơ sở")
            else if(!us_name.value) alert("vui lòng nhập tên người dùng ")
            else if(!us_cccd.value) alert("vui lòng nhập CCCD ")
            else if(!us_date.value) alert("vui lòng nhập ngày sinh ")
            else if(!us_email.value) alert("vui lòng nhập Email")
            else if(!us_pass.value) alert("vui lòng nhập pass")
            else if(!us_phone.value) alert("vui lòng nhập số điện thoại")
            else if(!us_repass.value) alert("vui lòng nhập số điện thoại xác nhận")
            else if(!phuongxa.value) alert("vui lòng chọn phường xã")
            else if(!check_regis.checked) alert("vui lòng đồng ý với các điều khoản")
            else{
                if(us_pass.value != us_repass.value){
                    alert("mật khẩu xác nhận không đúng")
                }else{
                    var data_example = {
                        "csLuuTruRequest": {
                            "tenCoSo": cs_name.value,
                            "diaChiCoSo": cs_adress.value,
                            "nguoiDaiDien": cs_user.value,
                            "cccd": cs_cccd.value,
                            "sdt": cs_phone.value,
                            "email": cs_email.value,
                            "loaiHinh": cs_type.value,
                            "idPhuongXa": phuongxa.value
                        },
                        "nguoiDungRequest": {
                            "email": us_email.value,
                            "sdt": us_phone.value,
                            "matKhau": us_pass.value,
                            "hoVaTen": us_name.value,
                            "cccd": us_cccd.value,
                            "ngaySinh": us_date.value
                        }
                    }
                   

                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8080/api/auth/registration",
                        data:JSON.stringify(data_example),
                        contentType:'application/json',
                        success: function(data) {
                            console.log(data)
                            alert("đăng ký thành công")
                            window.location.href = "./dangnhap.html"
                        
                        },error:function(message){
                            console.log(message.responseJSON.message)
                            alert("có lỗi sảy ra")
                        }
                    })
                }
            }
        }

        
    </script>
</body>
</html>