
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fe/css/grid.css">
    <link rel="stylesheet" href="../fe/css/header-footer.css">
    <link rel="stylesheet" href="../fe/css/registry.css">
    <script src="../fe/js/jquery.js"></script>
</head>
<body>
    <div class="header grid">
        <div class="container gridhead wide">
            <div class="item">
                <div class="logo">
                    <a href="./home.html"><img src="../fe/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <a href="">TRANG CHỦ</a>
            </div>
            <div class="item">
                <a href="">GIỚI THIỆU</a>
            </div>
            <div class="item">
                <a href="">THỦ TỤC</a>
            </div>
            <div class="item">
                <a href="">QUY ĐỊNH</a>
            </div>
            <div class="item">
                <a href="">HỖ TRỢ</a>
            </div>
            <div class="item">
                <a href="">THÔNG TIN</a>
            </div>
            <div class="item">
                <a href="">TIN TỨC</a>
            </div>
            <div class="item">
                <a href="">LIÊN HỆ</a>
            </div>
            <div class="item seach">
               <input type="text">
            </div>
            <div class="item user"  id="user_show">
                <a href="">ĐĂNG NHẬP</a>
            </div>
        </div>
    </div>








    <div class="main grid">
        <div class="router grid wide">
            <a href="">YÊU CẦU HỖ TRỢ</a>
        </div>
        <div class="container registry login">
            <h3>THÔNG TIN YÊU CẦU</h3>
            <div class="boxwide">
                <div class="box">
                    <div class="col">
                        <div class="item">
                            <p>Báo lỗi:</p>
                            <input type="text" id="err_content">
                        </div>
                        <!-- <div class="item">
                            <p>Khác:</p>
                            <input type="text">
                        </div> -->
                        <label style="margin: 30px 0px 10px 0px;">Tải tệp đính kèm yêu cầu (nếu có)</label>
                        <input class="suport-hoso" type="file" title="tải hồ sơ cá nhân" id="err_file">
                    </div>
                </div>


                <div class="regis">
                    <button type="button" id="err_send">Gửi</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        const err_content = document.getElementById("err_content")
        const err_file = document.getElementById("err_file")
        const err_send = document.getElementById("err_send")


        err_send.onclick = function(){
            if(err_content.value){
                
                var formData = new FormData()

                formData.append("file", err_file.files[0]);
                let requestData = {
                    "loaiYeuCau":"Hỗ trợ",
                    "noiDungYeuCau":err_content.value
                };
                console.log(requestData)
                formData.append("request", new Blob([JSON.stringify(requestData)], { type: "application/json" }));

                $.ajax({
                    "url": "http://localhost:8080/api/user/support",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                            "Authorization": "Bearer "+token
                        },
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": formData,
                    success: function(data) {
                        console.log(data)
                        alert(data||"thêm thành công")
                       
                    },error:function(message){
                        console.log(message)
                        alert(message?.responseJSON?.message||"có lỗi sảy ra")
                    
                    }
                })
            }else{
                alert("vui lòng nhập nội dung")
            }
        }
    </script>







    <div class="footer grid">
        <div class="container gridfoot" >
            <div class="logo">
                <img src="../fe/image/logo.png" alt="">
            </div>
            <div class="info">
                <h3>BẢN QUYỀN CỦA ỦY BAN NHÂN DÂN THÀNH PHỐ ĐÀ NẴNG</h3>
                <p><b>Giấy phép:</b> 612/GP-STTTT cấp ngày 21 tháng 10 năm 2016.</p>
                <p><b>Trưởng Ban biên tập:</b> Trần Chí Cường, Phó Chủ tịch UBND thành phố.</p>
                <p><b>Trụ sở:</b> 24 Trần Phú, P.Thạch Thang, Q. Hải Châu, TP. Đà Nẵng.</p>
                <p><b>Điện thoại:</b> (+84.236) 3.817.366 </p>
                <p><b>Email:</b> toasoan@danang.gov.vn</p>

            </div>
        </div>
    </div>

    <script src="../fe/js/user.js"></script>
</body>
</html>