
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fe/css/grid.css">
    <link rel="stylesheet" href="../fe/css/header-footer.css">
    <link rel="stylesheet" href="../fe/css/registry.css">
    <link rel="stylesheet" href="../fe/css/quanhuyen.css">
    <script src="../fe/js/jquery.js"></script>
</head>
<body>
    <div class="header grid">
        <div class="container gridhead wide">
            <div class="item">
                <div class="logo">
                    <a href="./home.html"><img src="../fe/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <a href="">TRANG CHỦ</a>
            </div>
            <div class="item">
                <a href="">GIỚI THIỆU</a>
            </div>
            <div class="item">
                <a href="">THỦ TỤC</a>
            </div>
            <div class="item">
                <a href="">QUY ĐỊNH</a>
            </div>
            <div class="item">
                <a href="">HỖ TRỢ</a>
            </div>
            <div class="item">
                <a href="">THÔNG TIN</a>
            </div>
            <div class="item">
                <a href="">TIN TỨC</a>
            </div>
            <div class="item">
                <a href="">LIÊN HỆ</a>
            </div>
            <div class="item seach">
               <input type="text">
            </div>
            <div class="item user"  id="user_show">
                <a href="">ĐĂNG NHẬP</a>
            </div>
        </div>
    </div>








    <div class="main grid">
        <div class="router grid wide">
            <a href="">THÔNG TIN TÀI KHOẢN</a>
        </div>
        <div class="container registry">
            <h3>THÔNG TIN TÀI KHOẢN</h3>
            <div class="boxwide">
                <div class="box">
                    <div class="col">
                        <div class="item">
                            <p>Tên tài khoản (*):</p>
                            <div class="editbox">
                                <input type="text" id="user" readonly="readonly">
                            </div>
                        </div>
                        <div class="item">
                            <p>Họ và tên (*):</p>
                            <div class="editbox">
                                <input type="text" id="name">
                            </div>
                        </div>
                        <!-- <div class="item">
                            <p>Trạng thái (*):</p>
                            <div class="editbox">
                                <input type="text" id="email">
                            </div>
                        </div> -->
                    </div>
                    <div class="col">
                        <div class="item">
                            <p>Ngày sinh (*):</p>
                            <input type="date" id="date">
                        </div>
                        <div class="item">
                            <p>Số điện thoại (*):</p>
                            <div class="editbox">
                                <input type="text" id="phone">
                            </div>
                        </div>
                        <div class="item">
                            <p>CCCD (*):</p>
                            <div class="editbox">
                                <input type="text" id="cccd">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="regis" style="display: flex;">
                    <button id="update">Cập nhật</button>
                    <BUtton id="changepass"><a style="color: white;" href="./doimatkhau.html">Đổi mật khẩu</a></BUtton>
                </div>

            </div>
        </div>
    </div>









    <div class="footer grid">
        <div class="container gridfoot" >
            <div class="logo">
                <img src="../fe/image/logo.png" alt="">
            </div>
            <div class="info">
                <h3>BẢN QUYỀN CỦA ỦY BAN NHÂN DÂN THÀNH PHỐ ĐÀ NẴNG</h3>
                <p><b>Giấy phép:</b> 612/GP-STTTT cấp ngày 21 tháng 10 năm 2016.</p>
                <p><b>Trưởng Ban biên tập:</b> Trần Chí Cường, Phó Chủ tịch UBND thành phố.</p>
                <p><b>Trụ sở:</b> 24 Trần Phú, P.Thạch Thang, Q. Hải Châu, TP. Đà Nẵng.</p>
                <p><b>Điện thoại:</b> (+84.236) 3.817.366 </p>
                <p><b>Email:</b> toasoan@danang.gov.vn</p>

            </div>
        </div>
    </div>
    <script src="../fe/js/user.js"></script>
    <script>
    
        const us_user = document.getElementById("user")
        const us_name = document.getElementById("name")
        const us_date = document.getElementById("date")
        const us_phone = document.getElementById("phone")
        const us_cccd = document.getElementById("cccd")

        const us_update = document.getElementById("update")
        const us_changepass = document.getElementById("changepass")




        var user_info 
        async function getvalue(){
            return new Promise((resolve, reject) => {
                console.log(token)
                $.ajax({
                        type: "get",
                        url: "http://localhost:8080/api/user",
                       headers:{"Authorization": 'Bearer '+token },
                        success: function(data) {
                            console.log(data)
                            user_info = data
                  
                            us_user.value = data.email
                            us_name.value = data.hoVaTen
                            us_date.value = data.ngaySinh
                            us_phone.value = data.sdt
                            us_cccd.value = data.cccd

                        },error:function(message){
                            console.log(message)
                            alert("có lỗi sảy ra")
                            window.location.href = "./dangnhap.html"
                        }
                    })
            })
        }

        getvalue()

       

        us_update.onclick = function(){
            var update_value =  {
                "sdt": us_phone.value ,
                "hoVaTen": us_name.value,
                "ngaySinh": us_date.value,
                "cccd": us_cccd.value 
            }
            console.log(update_value)
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/user",
                headers:{"Authorization": 'Bearer '+token },
                data:JSON.stringify(update_value),
                contentType:'application/json',
                success: function(data) {
                    console.log(data)
                    alert("cập nhật thành công")
                    window.location.reload()

                },error:function(message){
                    console.log(message)
                    alert("có lỗi sảy ra")
                 
                }
            })

        }


        
    </script>
</body>
</html>