
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fe/css/grid.css">
    <link rel="stylesheet" href="../fe/css/header-footer.css">
    <link rel="stylesheet" href="../fe/css/update.css">
    <link rel="stylesheet" href="../fe/css/quanlytaikhoan.css">
    <link rel="stylesheet" href="../fe/css/menu.css">
    <script src="../fe/js/jquery.js"></script>
    <style>
        .list_vb div{
            margin: 20px 0px;
        }
    </style>
</head>
<body>
    <div class="header grid">
        <div class="container gridhead wide">
            <div class="item">
                <div class="logo">
                    <a href="./home.html"><img src="../fe/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <a href="">TRANG CHỦ</a>
            </div>
            <div class="item">
                <a href="">GIỚI THIỆU</a>
            </div>
            <div class="item">
                <a href="">THỦ TỤC</a>
            </div>
            <div class="item">
                <a href="">QUY ĐỊNH</a>
            </div>
            <div class="item">
                <a href="">HỖ TRỢ</a>
            </div>
            <div class="item">
                <a href="">THÔNG TIN</a>
            </div>
            <div class="item">
                <a href="">TIN TỨC</a>
            </div>
            <div class="item">
                <a href="">LIÊN HỆ</a>
            </div>
            <div class="item seach">
               <input type="text">
            </div>
            <div class="item user" id="user_show">
                <a href="">ĐĂNG NHẬP</a>
            </div>
        </div>
    </div>









    <div class="nav">
    
        
        <div class="main grid wide list_vb" style="margin-top: 40px; border-left: 0px;">
            <div style="display: flex;">
                <p style="color: red;">Số ký hiệu:</p> 
                <b id="vb_kh"></b>
            </div>

            <div style="display: flex;">
                <p>Cấp ban hành:</p> 
                <b id="vb_cbh"></b>
            </div>
            
            <div style="display: flex;">
                <p>cơ quan ban hành:</p> 
                <b id="vb_cq">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>ngày ban hành:</p> 
                <b id="vb_date">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>Ngày có hiệu lực:</p> 
                <b id="vb_date2">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>trích yếu:</p> 
                <b id="vb_ty">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>nội dung văn bản:</p> 
                <b id="vb_content">asouidasod</b>
            </div>

            <div>
                <input type="hidden" id="vb_file">
                <input type="hidden" id="vb_id">
                <button id="show__file" onclick="showfile()">Tài liệu đính kèm</button>
            </div>
           
            <!-- <div style="display: flex;">
                <p>trích yếu:</p> 
                <b>asouidasod</b>
            </div> -->
        </div>
    </div>





    <div class="footer grid">
        <div class="container gridfoot" >
            <div class="logo">
                <img src="./image/logo.png" alt="">
            </div>
            <div class="info">
                <h3>BẢN QUYỀN CỦA ỦY BAN NHÂN DÂN THÀNH PHỐ ĐÀ NẴNG</h3>
                <p><b>Giấy phép:</b> 612/GP-STTTT cấp ngày 21 tháng 10 năm 2016.</p>
                <p><b>Trưởng Ban biên tập:</b> Trần Chí Cường, Phó Chủ tịch UBND thành phố.</p>
                <p><b>Trụ sở:</b> 24 Trần Phú, P.Thạch Thang, Q. Hải Châu, TP. Đà Nẵng.</p>
                <p><b>Điện thoại:</b> (+84.236) 3.817.366 </p>
                <p><b>Email:</b> toasoan@danang.gov.vn</p>

            </div>
        </div>
    </div>
    <script src="../fe/js/user.js"></script>
    <script>
          const list_vb = document.getElementById("list_vb")
          var id_vanban = location.href.split("?")[1]
            const vb_kh = document.getElementById("vb_kh")
            const vb_cq = document.getElementById("vb_cq")
            const vb_id = document.getElementById("vb_id")
            const vb_date = document.getElementById("vb_date")
            const vb_ty = document.getElementById("vb_ty")
            const vb_date2 = document.getElementById("vb_date2")
            const vb_nk = document.getElementById("vb_nk")
            const vb_cbh = document.getElementById("vb_cbh")
            const vb_file = document.getElementById("vb_file")
            const vb_content = document.getElementById("vb_content")



       async function getvalue(){
            return new Promise((resolve, reject) => {
                $.ajax({
                type: "get",
                url: "http://localhost:8080/api/legal-document/details/"+id_vanban,
                headers:{"Authorization": 'Bearer '+token },
                
                success: function(data) {
                    console.log("asdasd")
                    console.log(data)
                    var data_request = data.content
                    vb_kh.innerHTML = data.soKyHieu
                    vb_cq.innerHTML = data.coQuanBanHanh
                    vb_ty.innerHTML = data.trichYeu
                    vb_date.innerHTML = data.ngayBanHanh
                    vb_date2.innerHTML = data.ngayCoHieuLuc
                    // vb_nk.innerHTML = data.nguoiKy
                    vb_content.innerHTML = data.noiDungVanBan
                    vb_cbh.innerHTML = data.capBanHanh
                    vb_id.value = data.id
                    vb_file.value = data.tepDinhKem
                

                },error:function(message){
                    console.log(message)
                    alert(message?.responseJSON?.message||"có lỗi sảy ra")
                    
                }
            })
            })
        }

        getvalue()

        function showfile(){
            console.log("huhuhuuu")
            console.log(vb_file.value)
            $.ajax({
                type: "get",
                url: "http://localhost:8080/api/legal-document/"+vb_id.value+"/file/"+vb_file.value,
                headers:{"Authorization": 'Bearer '+token },
                
                success: function(data) {          
                    console.log(data)
                    window.open(data)
                },error:function(message){
                    console.log(message)
                    alert(message?.responseJSON?.message||"có lỗi sảy ra")
                
                }
            })
        }
    </script>
</body>
</html>