
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fe/css/grid.css">
    <link rel="stylesheet" href="../fe/css/header-footer.css">
    <link rel="stylesheet" href="../fe/css/update.css">
    <link rel="stylesheet" href="../fe/css/quanlytaikhoan.css">
    <link rel="stylesheet" href="../fe/css/menu.css">
    <script src="../fe/js/jquery.js"></script>
    <style>
        .list_vb div{
            margin: 20px 0px;
        }

        .list_vb div b{
           color: red;
           
        }
    </style>
</head>
<body>
    <div class="header grid">
        <div class="container gridhead wide">
            <div class="item">
                <div class="logo">
                    <a href="./home.html"><img src="../fe/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <a href="">TRANG CHỦ</a>
            </div>
            <div class="item">
                <a href="">GIỚI THIỆU</a>
            </div>
            <div class="item">
                <a href="">THỦ TỤC</a>
            </div>
            <div class="item">
                <a href="">QUY ĐỊNH</a>
            </div>
            <div class="item">
                <a href="">HỖ TRỢ</a>
            </div>
            <div class="item">
                <a href="">THÔNG TIN</a>
            </div>
            <div class="item">
                <a href="">TIN TỨC</a>
            </div>
            <div class="item">
                <a href="">LIÊN HỆ</a>
            </div>
            <div class="item seach">
               <input type="text">
            </div>
            <div class="item user" id="user_show">
                <a href="">ĐĂNG NHẬP</a>
            </div>
        </div>
    </div>









    <div class="nav">
    
        
        <div class="main grid wide list_vb" style="margin-top: 40px; border-left: 0px;">
            <div style="display: flex;">
                <p >Tên cơ sở: </p> 
                <b id="vp_tcs"></b>
            </div>

            <div style="display: flex;">
                <p>địa chỉ: </p> 
                <b id="vp_dc"></b>
            </div>
            
            <div style="display: flex;">
                <p>Người đại diện: </p> 
                <b id="vp_ndd">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>ngày ban hành: </p> 
                <b id="vp_nbh">asouidasod</b>
            </div>

            <div style="display: flex;">
                <p>Nội dung: </p> 
                <b id="vp_nd">asouidasod</b>
            </div>

           

            <!-- <div>
                <input type="hidden" id="vp_file">
                <input type="hidden" id="vp_id">
                <button id="show__file" onclick="showfile()">Tài liệu đính kèm</button>
            </div> -->
           
            <!-- <div style="display: flex;">
                <p>trích yếu:</p> 
                <b>asouidasod</b>
            </div> -->
        </div>
    </div>





    <div class="footer grid">
        <div class="container gridfoot" >
            <div class="logo">
                <img src="./image/logo.png" alt="">
            </div>
            <div class="info">
                <h3>BẢN QUYỀN CỦA ỦY BAN NHÂN DÂN THÀNH PHỐ ĐÀ NẴNG</h3>
                <p><b>Giấy phép:</b> 612/GP-STTTT cấp ngày 21 tháng 10 năm 2016.</p>
                <p><b>Trưởng Ban biên tập:</b> Trần Chí Cường, Phó Chủ tịch UBND thành phố.</p>
                <p><b>Trụ sở:</b> 24 Trần Phú, P.Thạch Thang, Q. Hải Châu, TP. Đà Nẵng.</p>
                <p><b>Điện thoại:</b> (+84.236) 3.817.366 </p>
                <p><b>Email:</b> toasoan@danang.gov.vn</p>

            </div>
        </div>
    </div>
    <script src="../fe/js/user.js"></script>
    <script>
          const list_vb = document.getElementById("list_vb")
            var id_vipham = location.href.split("?")[1]
            const vp_tcs = document.getElementById("vp_tcs")
            const vp_dc = document.getElementById("vp_dc")
            const vp_ndd = document.getElementById("vp_ndd")
            const vp_nbh = document.getElementById("vp_nbh")
            const vp_nd = document.getElementById("vp_nd")
            // const vb_date2 = document.getElementById("vb_date2")
            // const vb_nk = document.getElementById("vb_nk")
            // const vb_cbh = document.getElementById("vb_cbh")
            const vp_file = document.getElementById("vp_file")
            // const vb_content = document.getElementById("vb_content")

        console.log(id_vipham)

       async function getvalue(){
            return new Promise((resolve, reject) => {
                $.ajax({
                type: "get",
                url: "http://localhost:8080/api/notification/details/"+id_vipham,
                headers:{"Authorization": 'Bearer '+token },
                
                success: function(data1) {
                    console.log("asdasd")
                    console.log(data1)
                  
                   
                    vp_nbh.innerHTML = data1.ngayTao.slice(0,10)
                    vp_nd.innerHTML = data1.noiDung.split("hành vi:")[1]

                    $.ajax({
                        type: "get",
                        url: "http://localhost:8080/api/accommodation/details/"+data1.csLuuTruId,
                        headers:{"Authorization": 'Bearer '+token },
                        
                        success: function(data2) {
                            console.log(data2)
                            vp_ndd.innerHTML = data2.nguoiDaiDien
                            vp_tcs.innerHTML = data2.tenCoSo
                            vp_dc.innerHTML = data2.diaChiCoSo
                          
                           
                        },error:function(message){
                            console.log(message)
                            alert(message.responseJSON.message)
                        
                        }
            })
                    
                

                },error:function(message){
                    console.log(message)
                    alert(message?.responseJSON?.message||"có lỗi sảy ra")
                    
                }
            })
            })
        }

        getvalue()

        function showfile(){
            console.log("huhuhuuu")
            console.log(vb_file.value)
            $.ajax({
                type: "get",
                url: "http://localhost:8080/api/legal-document/"+vb_id.value+"/file/"+vb_file.value,
                headers:{"Authorization": 'Bearer '+token },
                
                success: function(data) {          
                    console.log(data)
                    window.open(data)
                },error:function(message){
                    console.log(message)
                    alert(message?.responseJSON?.message||"có lỗi sảy ra")
                
                }
            })
        }
    </script>
</body>
</html>